## Preprocessing the dataset
* converting the trimap masks into binary masks.
* Creating a annotations csv file with only species label.

In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import numpy as np

In [5]:
data_path = os.path.join(os.path.dirname(os.getcwd()),"Data")
data_path

'd:\\Study\\Conda Projects\\opdl\\Data'

In [6]:
images_path = os.path.join(data_path,"images\\images")
images_path

'd:\\Study\\Conda Projects\\opdl\\Data\\images\\images'

In [7]:
annotations_path = os.path.join(data_path,"annotations\\annotations\\trimaps")
annotations_path

'd:\\Study\\Conda Projects\\opdl\\Data\\annotations\\annotations\\trimaps'

In [12]:
output_path = os.path.join(data_path,"masks")
output_path

'd:\\Study\\Conda Projects\\opdl\\Data\\masks'

### Creation of the binary masks for segmentation
* Merged the border with the body
* Standardized it to 0 and 255 pixel.

In [42]:
def convert_to_binary(path,img):
    masks_file = img.split(".")[0]+".png"
    img_file = os.path.join(path,masks_file)
    img_trimap = mpimg.imread(img_file)
    img_trimap = img_trimap.copy()
    img_trimap[np.isclose(img_trimap,0.00784314)] = 0 # background
    img_trimap[np.isclose(img_trimap,0.00392157)] = 255 # object
    img_trimap[np.isclose(img_trimap,0.01176471)] = 255 # Border
    mpimg.imsave(os.path.join(output_path,img),img_trimap,cmap='gray')

In [46]:
count_of_masks_processed=0
for files in os.listdir(images_path):
    if files.endswith(('.jpg')):
        convert_to_binary(annotations_path,files)
        count_of_masks_processed+=1
print("Count of masks processed are: ",count_of_masks_processed)

Count of masks processed are:  7390

### Creation of the annotation file

In [1]:
annotations_trainval = os.path.join(data_path,"annotations\\annotations\\trainval.txt")

NameError: name 'os' is not defined

In [ ]:
column_headers = ["image","class_id","species","breed_id"]
df_annotations = pd.read_csv(annotations_trainval, names=column_headers,sep='\s+')

In [ ]:
df_annotations.head()

            image  class_id  species  breed_id
0  Abyssinian_100         1        1         1
1  Abyssinian_101         1        1         1
2  Abyssinian_102         1        1         1
3  Abyssinian_103         1        1         1
4  Abyssinian_104         1        1         1

In [ ]:
df_annotations.drop(columns=['class_id','breed_id'],inplace=True)

In [ ]:
df_annotations.head()

            image  species
0  Abyssinian_100        1
1  Abyssinian_101        1
2  Abyssinian_102        1
3  Abyssinian_103        1
4  Abyssinian_104        1

In [ ]:
df_annotations.groupby('species').count()

         image
species
1         1188
2         2492

In [ ]:
path_annotations_csv = os.path.join(data_path,'annotations.csv')
path_annotations_csv

'd:\\Study\\Conda Projects\\opdl\\Data\\annotations.csv'

In [56]:
df_annotations.to_csv(path_annotations_csv,index=False)

#### Creating the test annotaions file

In [8]:
annotations_test = os.path.join(data_path,"annotations\\annotations\\test.txt")

In [10]:
column_headers = ["image","class_id","species","breed_id"]
df_annotations_test = pd.read_csv(annotations_test, names=column_headers,sep='\s+')

In [11]:
df_annotations_test.head()

            image  class_id  species  breed_id
0  Abyssinian_201         1        1         1
1  Abyssinian_202         1        1         1
2  Abyssinian_204         1        1         1
3  Abyssinian_205         1        1         1
4  Abyssinian_206         1        1         1

In [12]:
df_annotations_test.drop(columns=['class_id','breed_id'],inplace=True)

In [13]:
df_annotations_test.groupby('species').count()

         image
species
1         1183
2         2486

In [14]:
path_annotations_test_csv = os.path.join(data_path,'annotations_test.csv')
path_annotations_test_csv

'd:\\Study\\Conda Projects\\opdl\\Data\\annotations_test.csv'

In [15]:
df_annotations_test.to_csv(path_annotations_test_csv,index=False)